<main>
    <div class="title-section" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
        <h1 class="shine">UI DEVELOPER</h1>
        <div class="location">
            <p><span style="color: #e2f5ad;">+3 </span>YEARS<br>Of<br>EXPERIENCE</p>
        </div>
    </div>

    <div class="bio-section" data-aos="fade-up" data-aos-duration="500">
        <p class="bio">
            CREATING <span style="color: #e2f5ad;">EASY-TO-USE UI DESIGNS</span> AND PROVIDING A <span
                style="color: #e2f5ad;">SMOOTH USER EXPERIENCE</span> WHILE KEEPING YOUR BRAND'S LOOK CONSISTENT.
        </p>
    </div>

    <a href="#about" class="scroll-down" data-aos="fade-up" data-aos-duration="500"></a>

    <img class="absolute_img" src="/images/photo.jpg" alt="personal photo">
</main>


<section id="services" class="services_section">
    <h1 class="services_title" data-aos="fade-zoom-in" data-aos-duration="300" data-aos-easing="ease-in-out">What I
        Do</h1>

    <div class="services_wrap">
        <div class="service_1" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="0">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 256 256" aria-hidden="true"
                stroke="url(#icon-gradient)" fill="url(#icon-gradient)" style="--size:2.5rem">
                <g>
                    <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"
                        d="m80 96 40 32-40 32m56 0h40"></path>
                    <rect width="192" height="160" x="32" y="48" fill="none" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="16.97" rx="8.5"></rect>
                </g>
                <defs>
                    <linearGradient id="icon-gradient" x1="23" x2="235" y1="43" y2="202" gradientUnits="userSpaceOnUse">
                        <stop stop-color="var(--c-secondary)"></stop>
                        <stop offset=".5" stop-color="var(--c-secondary)"></stop>
                        <stop offset="1" stop-color="var(--c-secondary)"></stop>
                    </linearGradient>
                </defs>
            </svg>
            <h2>Frontend Development</h2>
            <p>I build modern and responsive web pages that work well on any device.</p>
        </div>
        <div class="services_divider"></div>
        <div class="service_2" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="100">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 256 256" aria-hidden="true"
                stroke="url(#icon-gradient-2)" fill="url(#icon-gradient-2)" style="--size:2.5rem">
                <defs>
                    <linearGradient id="icon-gradient-2" x1="23" x2="235" y1="43" y2="202"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="var(--c-secondary)"></stop>
                        <stop offset=".5" stop-color="var(--c-secondary)"></stop>
                        <stop offset="1" stop-color="var(--c-secondary)"></stop>
                    </linearGradient>
                </defs>
                <g>
                    <circle cx="68" cy="188" r="28" fill="none" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="16"></circle>
                    <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"
                        d="m40 72 40 40m0-40-40 40m136 56 40 40m0-40-40 40M136 80V40h40"></path>
                    <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"
                        d="m136 40 16 16c40 40 8 88-24 96"></path>
                </g>
            </svg>
            <h2>Problem Solving</h2>
            <p>With focus and clear ideas, I fix UI issues and improve performance, helping users navigate with ease
                and satisfaction.</p>
        </div>
        <div class="services_divider"></div>
        <div class="service_3" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="200">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 256 256" aria-hidden="true"
                stroke="url(#icon-gradient-3)" fill="url(#icon-gradient-3)" style="--size:2.5rem">
                <defs>
                    <linearGradient id="icon-gradient-3" x1="23" x2="235" y1="43" y2="202"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="var(--c-secondary)"></stop>
                        <stop offset=".5" stop-color="var(--c-secondary)"></stop>
                        <stop offset="1" stop-color="var(--c-secondary)"></stop>
                    </linearGradient>
                </defs>
                <g>
                    <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"
                        d="M56 56v55.1c0 39.7 31.8 72.6 71.5 72.9a72 72 0 0 0 72.5-72V56a8 8 0 0 0-8-8H64a8 8 0 0 0-8 8Zm40 168h64m-32-40v40">
                    </path>
                    <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"
                        d="M198.2 128h9.8a32 32 0 0 0 32-32V80a8 8 0 0 0-8-8h-32M58 128H47.9a32 32 0 0 1-32-32V80a8 8 0 0 1 8-8h32">
                    </path>
                </g>
            </svg>
            <h2>Attention to Detail</h2>
            <p>I pay close attention to all details to make sure the final product looks great and works perfectly.
            </p>
        </div>
    </div>
</section>

<section id="about" class="about-section">
    <h1 class="about-title" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-duration="500">About Me</h1>

    <div class="bento-grid">
        <div class="card intro" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="0">
            <div class="intro_wrap">
                <h2 class="card-title">"Web Design Meets Code"</h2>
                <h4 class="card-subtitle">The Work of Luis</h4>
                <p class="about-text">
                    I’m a frontend developer focused on turning ideas into unique websites. For me, how a website
                    looks is very important because it catches the user’s attention. That’s why design and code go
                    hand by hand.
                    <br><br>
                    By the way, my LinkedIn profile is right here, feel free to check it out.
                </p>
            </div>
            <div class="bento_divider">
                <div class="profile-card">
                    <img src="images/cover.png" class="cover-pic" />
                    <img src="images/profile.jpeg" class="profile-pic" />

                    <!-- Heading Text  -->
                    <div class="heading_div">
                        <h1>Luis Bossa</h1>
                        <p>Frontend Developer with experience in creating attractive and functional web interfaces.
                        </p>
                    </div>

                    <a href="https://www.linkedin.com/in/luis-bossa-medina-0a2334270/" target="_blank" class="view-btn">
                        <i class="fab fa-linkedin view-icon"></i>
                        VIEW PROFILE
                    </a>
                </div>
            </div>
        </div>

        <div class="card tech" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="100">
            <h2 class="card-title">CREATIVITY & DISCIPLINE</h2>
            <p class="about-text">
                I work out frequently, which helps me clear my mind and come up with new ideas.
                <br><br>
                Fitness has taught me discipline and patience, qualities I apply to frontend development to
                keep improving and
                focus on the details.
            </p>
        </div>

        <div class="card time" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="200">
            <h2 class="card-title">HAVE QUESTIONS OR WANT TO CONNECT?</h2>
            <p class="about-text">
                If you want to know more, feel free to reach out. I’m open to new frontend opportunities.
            </p>
            <a class="btn" href="#contact">
                <i class='bx bx-send'></i> CONTACT ME
            </a>
        </div>

        <div class="card passion" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="300">
            <h2 class="card-title">Development Toolbox</h2>
            <p class="tech-card-text">
                <strong>Core: </strong>HTML, CSS, JavaScript, TypeScript, PHP
                <br>
                <strong>Frameworks & Libraries: </strong>Next, React, Laravel, Tailwind CSS, Bootstrap, Sass
                <br>
                <strong>Backend & Templating: </strong>Node.js, EJS, Pug
                <br>
                <strong>CMS:</strong> WordPress, Elementor, Webflow
                <br><br>
                And there’s more to learn... I’m ready to take on new challenges.
            </p>

            <img src="images/skills group.png" alt="" class="skills-group">
        </div>
    </div>
</section>

<section id="resume" class="exp_section">
    <h1 class="exp_title" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-duration="300">Professional
        Journey</h1>
    <div class="tabs" data-aos-offset="0" data-aos-duration="500">

        <input type="radio" name="tab" id="tab1" class="tab-input" checked>
        <input type="radio" name="tab" id="tab2" class="tab-input">

        <div class="radio_wrap">
            <label for="tab1" class="tab-label">Education</label>
            <label for="tab2" class="tab-label">Experience</label>
        </div>

        <!-- Education Tab Content -->
        <div class="tab-content active" id="education">
            <div class="contents">
                <div class="box" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="100">
                    <h4>2024</h4>
                    <h3>Self-taught in programming technologies</h3>
                    <p>
                        Since the beginning of my career, I have complemented my academic education with independent
                        learning, modern tools, languages, and frameworks driven by curiosity.
                    </p>
                </div>

                <div class="box" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="200">
                    <h4>2020 - 2023</h4>
                    <h3>Technological University of Costa Rica (UTC)</h3>
                    <p>Bachelor's Degree in Computer Engineering.</p>
                </div>
            </div>
        </div>

        <!-- Experience Tab Content -->
        <div class="tab-content" id="experience">
            <div class="contents">
                <div class="box" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="100">
                    <h4>2023 - 2024</h4>
                    <h3>UI Designer</h3>
                    <p>
                        As a web developer with UI design experience, I help create clean and user-friendly
                        interfaces for websites and web applications. Always focusing on usability and consistency.
                    </p>
                </div>

                <div class="box" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="200">
                    <h4>2022 - 2023</h4>
                    <h3>Full-Stack Developer</h3>
                    <p>
                        I was instrumental in designing and managing databases using Laravel and PHP for
                        efficient data storage and retrieval. This included creating database schemas, writing
                        optimized SQL queries, and implementing strategies for data migration.
                    </p>
                </div>

                <div class="box" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="300">
                    <h4>2020 - 2022</h4>
                    <h3>Frontend Developer</h3>
                    <p>
                        A key part of my role involved creating responsive applications. I made sure
                        that all the web applications I worked on were fully optimized for different devices and
                        screen sizes, ensuring a smooth user experience on smartphones, tablets, and desktops.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="projects-section">
    <h3 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">My Projects</h3>
    <div class="slider" style="--quantity: 6;">
        <div class="list">
            <div class="item" style="--position: 1">
                <a href="https://busena.vercel.app/" target="_blank">
                    <video id="projectVideo1" loop playsinline muted>
                        <source src="/videos/project-1.webm" type="video/webm">
                    </video>
                </a>

                <div class="content">
                    <div class="category-info">
                        <div class="title">
                            <a href="https://busena.vercel.app/" target="_blank">
                                Bus-tickets-website
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="21" height="21">
                                    <path fill="#ffffff"
                                        d="M384 64C366.3 64 352 78.3 352 96C352 113.7 366.3 128 384 128L466.7 128L265.3 329.4C252.8 341.9 252.8 362.2 265.3 374.7C277.8 387.2 298.1 387.2 310.6 374.7L512 173.3L512 256C512 273.7 526.3 288 544 288C561.7 288 576 273.7 576 256L576 96C576 78.3 561.7 64 544 64L384 64zM144 160C99.8 160 64 195.8 64 240L64 496C64 540.2 99.8 576 144 576L400 576C444.2 576 480 540.2 480 496L480 416C480 398.3 465.7 384 448 384C430.3 384 416 398.3 416 416L416 496C416 504.8 408.8 512 400 512L144 512C135.2 512 128 504.8 128 496L128 240C128 231.2 135.2 224 144 224L224 224C241.7 224 256 209.7 256 192C256 174.3 241.7 160 224 160L144 160z" />
                                </svg>
                            </a>
                        </div>
                        <div class="meta">
                            <span class="tech-pill">HTML & CSS</span>
                            <span class="tech-pill">JS</span>
                            <span class="tech-pill">jQuery</span>
                            <span class="tech-pill">PHP</span>
                        </div>
                    </div>
                    <p class="project-description">
                        This project is a web-based platform that allows users to easily search, book, and manage
                        bus tickets.
                        <a href="/project1" class="read-more">Read more</a>
                    </p>
                </div>
            </div>

            <div class="item" style="--position: 2">
                <a href="https://monchopark.vercel.app/" target="_blank">
                    <video id="projectVideo2" loop playsinline muted>
                        <source src="/videos/project-2.webm" type="video/webm">
                    </video>
                </a>

                <div class="content">
                    <div class="category-info">
                        <div class="title">
                            <a href="https://monchopark.vercel.app/" target="_blank">Moncho Park
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="21" height="21">
                                    <path fill="#ffffff"
                                        d="M384 64C366.3 64 352 78.3 352 96C352 113.7 366.3 128 384 128L466.7 128L265.3 329.4C252.8 341.9 252.8 362.2 265.3 374.7C277.8 387.2 298.1 387.2 310.6 374.7L512 173.3L512 256C512 273.7 526.3 288 544 288C561.7 288 576 273.7 576 256L576 96C576 78.3 561.7 64 544 64L384 64zM144 160C99.8 160 64 195.8 64 240L64 496C64 540.2 99.8 576 144 576L400 576C444.2 576 480 540.2 480 496L480 416C480 398.3 465.7 384 448 384C430.3 384 416 398.3 416 416L416 496C416 504.8 408.8 512 400 512L144 512C135.2 512 128 504.8 128 496L128 240C128 231.2 135.2 224 144 224L224 224C241.7 224 256 209.7 256 192C256 174.3 241.7 160 224 160L144 160z" />
                                </svg>
                            </a>
                        </div>
                        <div class="meta">
                            <span class="tech-pill">HTML & CSS</span>
                            <span class="tech-pill">JS</span>
                            <span class="tech-pill">Node.js</span>
                            <span class="tech-pill">jQuery</span>
                        </div>
                    </div>
                    <p class="project-description">
                        Outdoor skatepark located in San Ramón, Costa Rica, designed for skaters of all levels.
                        <a href="/project2" class="read-more">Read more</a>
                    </p>
                </div>
            </div>

            <div class="item" style="--position: 3">
                <a href="https://hikingguana.vercel.app/" target="_blank">
                    <video id="projectVideo3" loop playsinline muted>
                        <source src="/videos/project-3.webm" type="video/webm">
                    </video>
                </a>

                <div class="content">
                    <div class="category-info">
                        <div class="title">
                            <a href="https://hikingguana.vercel.app/" target="_blank">
                                Tourism website
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="21" height="21">
                                    <path fill="#ffffff"
                                        d="M384 64C366.3 64 352 78.3 352 96C352 113.7 366.3 128 384 128L466.7 128L265.3 329.4C252.8 341.9 252.8 362.2 265.3 374.7C277.8 387.2 298.1 387.2 310.6 374.7L512 173.3L512 256C512 273.7 526.3 288 544 288C561.7 288 576 273.7 576 256L576 96C576 78.3 561.7 64 544 64L384 64zM144 160C99.8 160 64 195.8 64 240L64 496C64 540.2 99.8 576 144 576L400 576C444.2 576 480 540.2 480 496L480 416C480 398.3 465.7 384 448 384C430.3 384 416 398.3 416 416L416 496C416 504.8 408.8 512 400 512L144 512C135.2 512 128 504.8 128 496L128 240C128 231.2 135.2 224 144 224L224 224C241.7 224 256 209.7 256 192C256 174.3 241.7 160 224 160L144 160z" />
                                </svg>
                            </a>
                        </div>
                        <div class="meta">
                            <span class="tech-pill">HTML</span>
                            <span class="tech-pill">CSS</span>
                            <span class="tech-pill">JS</span>
                            <span class="tech-pill">jQuery</span>
                            <span class="tech-pill">PHP</span>
                        </div>
                    </div>
                    <p class="project-description">
                        Discover Costa Rica through its culture, nature, and top attractions. Perfect for planning
                        your next trip. <a href="/project3" class="read-more">Read more</a>
                    </p>

                </div>
            </div>

            <div class="item" style="--position: 4">
                <a href="https://ecom-nine-alpha.vercel.app/" target="_blank">
                    <video id="projectVideo4" loop playsinline muted>
                        <source src="/videos/project-4.webm" type="video/webm">
                    </video>
                </a>

                <div class="content">
                    <div class="category-info">
                        <div class="title">
                            <a href="https://ecom-nine-alpha.vercel.app/" target="_blank">
                                E-commerce
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="21" height="21">
                                    <path fill="#ffffff"
                                        d="M384 64C366.3 64 352 78.3 352 96C352 113.7 366.3 128 384 128L466.7 128L265.3 329.4C252.8 341.9 252.8 362.2 265.3 374.7C277.8 387.2 298.1 387.2 310.6 374.7L512 173.3L512 256C512 273.7 526.3 288 544 288C561.7 288 576 273.7 576 256L576 96C576 78.3 561.7 64 544 64L384 64zM144 160C99.8 160 64 195.8 64 240L64 496C64 540.2 99.8 576 144 576L400 576C444.2 576 480 540.2 480 496L480 416C480 398.3 465.7 384 448 384C430.3 384 416 398.3 416 416L416 496C416 504.8 408.8 512 400 512L144 512C135.2 512 128 504.8 128 496L128 240C128 231.2 135.2 224 144 224L224 224C241.7 224 256 209.7 256 192C256 174.3 241.7 160 224 160L144 160z" />
                                </svg>
                            </a>
                        </div>
                        <div class="meta">
                            <span class="tech-pill">HTML</span>
                            <span class="tech-pill">CSS</span>
                            <span class="tech-pill">JS</span>
                        </div>
                    </div>
                    <p class="project-description">You can buy enything, serch meny clothes products, and buy
                        someone.
                        <a href="/project4" class="read-more">Read more</a>
                    </p>
                </div>
            </div>

            <div class="item" style="--position: 5">
                <a href="https://rbt-one.vercel.app/" target="_blank">
                    <video id="projectVideo5" loop playsinline muted>
                        <source src="/videos/project-5.webm" type="video/webm">
                    </video>
                </a>

                <div class="content">
                    <div class="category-info">
                        <div class="title">
                            <a href="https://rbt-one.vercel.app/" target="_blank">
                                Streetwear shop
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="21" height="21">
                                    <path fill="#ffffff"
                                        d="M384 64C366.3 64 352 78.3 352 96C352 113.7 366.3 128 384 128L466.7 128L265.3 329.4C252.8 341.9 252.8 362.2 265.3 374.7C277.8 387.2 298.1 387.2 310.6 374.7L512 173.3L512 256C512 273.7 526.3 288 544 288C561.7 288 576 273.7 576 256L576 96C576 78.3 561.7 64 544 64L384 64zM144 160C99.8 160 64 195.8 64 240L64 496C64 540.2 99.8 576 144 576L400 576C444.2 576 480 540.2 480 496L480 416C480 398.3 465.7 384 448 384C430.3 384 416 398.3 416 416L416 496C416 504.8 408.8 512 400 512L144 512C135.2 512 128 504.8 128 496L128 240C128 231.2 135.2 224 144 224L224 224C241.7 224 256 209.7 256 192C256 174.3 241.7 160 224 160L144 160z" />
                                </svg>
                            </a>
                        </div>
                        <div class="meta">
                            <span class="tech-pill">HTML</span>
                            <span class="tech-pill">CSS</span>
                            <span class="tech-pill">JS</span>
                        </div>
                    </div>
                    <p class="project-description">
                        You can buy enything, serch meny clothes products.
                        <a href="/project5" class="read-more">Read more</a>
                    </p>
                </div>
            </div>

            <div class="item" style="--position: 6">
                <a href="https://yabla.vercel.app/" target="_blank">
                    <video id="projectVideo6" loop playsinline muted>
                        <source src="/videos/project-6.webm" type="video/webm">
                    </video>
                </a>

                <div class="content">
                    <div class="category-info">
                        <div class="title">
                            <a href="https://yabla.vercel.app/" target="_blank">Chat Web API

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="21" height="21">
                                    <path fill="#ffffff"
                                        d="M384 64C366.3 64 352 78.3 352 96C352 113.7 366.3 128 384 128L466.7 128L265.3 329.4C252.8 341.9 252.8 362.2 265.3 374.7C277.8 387.2 298.1 387.2 310.6 374.7L512 173.3L512 256C512 273.7 526.3 288 544 288C561.7 288 576 273.7 576 256L576 96C576 78.3 561.7 64 544 64L384 64zM144 160C99.8 160 64 195.8 64 240L64 496C64 540.2 99.8 576 144 576L400 576C444.2 576 480 540.2 480 496L480 416C480 398.3 465.7 384 448 384C430.3 384 416 398.3 416 416L416 496C416 504.8 408.8 512 400 512L144 512C135.2 512 128 504.8 128 496L128 240C128 231.2 135.2 224 144 224L224 224C241.7 224 256 209.7 256 192C256 174.3 241.7 160 224 160L144 160z" />
                                </svg>
                            </a>
                        </div>
                        <div class="meta">
                            <span class="tech-pill">React.js</span>
                            <span class="tech-pill">CSS</span>
                            <span class="tech-pill">Sass</span>
                            <span class="tech-pill">Node.js</span>
                            <span class="tech-pill">jQuery</span>
                        </div>
                    </div>
                    <p class="project-description">
                        This project is a real-time chat web application. It enables users to communicate instantly,
                        making it a great example of modern web technologies.<a href="/project6" class="read-more">Read
                            more</a>
                    </p>
                </div>
            </div>

            <!-- <div class="item" style="--position: 6">
                    <a href="" target="_blank">
                        <video id="projectVideo6" loop playsinline muted>
                            <source src="/videos/project-6.webm" type="video/webm">
                        </video>
                    </a>

                    <div class="content">
                        <div class="category-info">
                            <div class="title">
                                <a href="#" target="_blank">Point of Sale
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="21"
                                        height="21">
                                        <path fill="#ffffff"
                                            d="M384 64C366.3 64 352 78.3 352 96C352 113.7 366.3 128 384 128L466.7 128L265.3 329.4C252.8 341.9 252.8 362.2 265.3 374.7C277.8 387.2 298.1 387.2 310.6 374.7L512 173.3L512 256C512 273.7 526.3 288 544 288C561.7 288 576 273.7 576 256L576 96C576 78.3 561.7 64 544 64L384 64zM144 160C99.8 160 64 195.8 64 240L64 496C64 540.2 99.8 576 144 576L400 576C444.2 576 480 540.2 480 496L480 416C480 398.3 465.7 384 448 384C430.3 384 416 398.3 416 416L416 496C416 504.8 408.8 512 400 512L144 512C135.2 512 128 504.8 128 496L128 240C128 231.2 135.2 224 144 224L224 224C241.7 224 256 209.7 256 192C256 174.3 241.7 160 224 160L144 160z" />
                                    </svg>
                                </a>
                            </div>
                            <div class="meta">
                                <span class="tech-pill">HTML</span>
                                <span class="tech-pill">CSS</span>
                                <span class="tech-pill">Node.js</span>
                                <span class="tech-pill">MySQL</span>
                            </div>
                        </div>
                        <p class="project-description">
                            System designed to help businesses manage sales and inventory.
                            <a href="#" class="read-more">Read more</a>
                        </p> 
                    </div>
                </div> -->
        </div>
    </div>
</section>

<!-- TECHNOLOGIES SECTION -->
<section id="technologies" class="tech_section">
    <div class="section-header" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-duration="300">
        <h3>Technologies</h3>
        <p><strong>Disclaimer: </strong>This project is built using current web tools like HTML, CSS, JavaScript,
            Node.js, and AOS.</p>
    </div>

    <div class="tech_div">
        <div class="language" data-tooltip="Node Js" data-aos="fade-zoom-in" data-aos-easing="linear"
            data-aos-delay="0">
            <img src="/images/tech_1.png" alt="Node Js" />
        </div>
        <div class="language" data-tooltip="Html" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="100">
            <img src="/images/tech_2.webp" alt="Html" />
        </div>
        <div class="language" data-tooltip="Css" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-delay="200">
            <img src="/images/tech_3.svg" alt="Css" />
        </div>
        <div class="language" data-tooltip="JavaScript" data-aos="fade-zoom-in" data-aos-easing="linear"
            data-aos-delay="300">
            <img src="/images/tech_4.svg" alt="JavaScript" />
        </div>
        <div class="language" data-tooltip="Animate on Scroll" data-aos="fade-zoom-in" data-aos-easing="linear"
            data-aos-delay="400">
            <img src="/images/tech_5.png" alt="Animate on Scroll" />
        </div>
    </div>


</section>

<!-- CONTACT SECTION -->
<section id="contact" class="contact-section">
    <div class="section-header" data-aos="fade-zoom-in" data-aos-easing="linear" data-aos-duration="300">
        <h3>Get in Touch</h3>
        <p>Looking to grow your business? I’m here to help. Freelance projects welcome too!</p>
    </div>

    <div class="contact-grid" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-offset="0"
        data-aos-duration="500">

        <div class="info-card divider">
            <div class="info_wrap">
                <h3>Contact info</h3>

                <div class="contact-item">
                    <p>Email</p>
                    <a href="#">lebossamedina@gmail.com</a>
                </div>

                <div class="contact-item">
                    <p>Phone</p>
                    <a href="#">+(506) 6414-5674</a>
                </div>

                <div class="contact-item">
                    <p>Location</p>
                    <a href="#">San José, Costa Rica</a>
                </div>
            </div>

            <div class="social-link">
                <div class="info_wrap">
                    <p>You can find me on</p>
                    <a href="https://github.com/luisbossa" target="_blank">GitHub</a>
                    <a href="https://wa.me/64145674" target="_blank">Whatsapp</a>
                </div>
            </div>
        </div>

        <div class="info-card">
            <div class="info-card-content">
                <h3>Send Message</h3>

                <form action="/">
                    <div class="form-group">
                        <input type="text" id="name" name="name" placeholder="Your name" required autocomplete="name"
                            class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="email" id="email" name="email" placeholder="Your Email" required
                            autocomplete="email" class="form-control">
                    </div>

                    <div class="form-group">
                        <textarea name="message" id="message" placeholder="Your Message" required
                            class="form-control"></textarea>
                    </div>

                    <button type="submit" id="submitBtn" class="message-btn">Send Message</button>

                    <div class="success-message" id="successMessage">
                        Message sent successfully! I'll get back to you soon.
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>