.about-section {
  width: 90%;
  margin-top: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 6.2rem;
}

.about-title {
  font-size: clamp(2.1rem, 6vw, 4.5rem);
  margin-bottom: 40px;
  background-image: linear-gradient(rgb(133, 133, 133), rgb(255, 255, 255));
  color: transparent;
  background-clip: text;
}

.bento-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "intro intro tech"
    "time passion passion";
  gap: 1.5rem;
}

.card {
  padding: 2rem;
  position: relative;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--c-mate);
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  box-shadow: var(--shadow);
  overflow: hidden;
}

/* CARD SPECIFIC AREAS */
.intro_wrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 2rem;
}

.intro {
  grid-area: intro;
  min-height: 300px;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
}
.tech {
  grid-area: tech;
}

.time {
  grid-area: time;
}

.passion {
  grid-area: passion;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    var(--c-primary, rgba(255, 255, 255, 0.3)),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
  pointer-events: none;
}

.card:hover::before {
  opacity: 1;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
}

.card-subtitle {
  color: var(--c-secondary);
  font-size: 18px;
  margin-top: 5px;
}

.card-text {
  color: var(--c-text);
  line-height: 1.6;
  padding: 2rem 0;
  max-width: 30rem;
}

.about-text {
  color: var(--c-text);
  line-height: 1.6;
  padding: 15px 0 2rem 0;
  max-width: 30rem;
}

.tech-card-text {
  color: var(--c-text);
  line-height: 1.6;
  padding: 15px 0 2rem 0;
  max-width: 65%;
}

.bento-grid .background-img {
  position: absolute;
  inset: -1% -1% -1% -1%;
  width: 110%;
  height: 110%;
  object-fit: cover;
  z-index: -1;
}

.bento_divider {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: end;
}

.profile-card {
  width: 100%;
  text-align: center;
  background: #fff;
  color: #232323;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 10;
}
.cover-pic {
  display: block;
  width: 100%;
  height: 150px;
  padding: 15px;
  border-radius: 25px;
}
.profile-pic {
  width: 100px;
  margin-top: -70px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff;
  transition: box-shadow 0.5s;
}
.heading_div {
  padding: 0 15px;
}
.profile-card h1 {
  font-size: 25px;
  font-weight: 600;
}
.profile-card p {
  font-size: 15px;
  line-height: 1.5;
  margin-top: 5px;
}

.view-btn {
  width: 100%;
  height: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  background-color: #0a66c2;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url(/images/bg02.webp);
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  transition: all 0.5s ease-in-out;
}

.view-icon {
  margin-right: 15px;
  font-size: 20px;
}

.bento-grid .skills-group {
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -22%;
  opacity: 0.9;
}

.bento-grid .btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 0.75rem 1.5rem;
  color: var(--c-light_gray);
  background-color: var(--c-primary);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url(/images/bg02.webp);
  border-left: 1px solid rgba(255, 255, 255, 0.35);
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  border-right: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.35),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.35);
  transition: 0.3s;
  white-space: nowrap;
  cursor: pointer;
  gap: 6px;
  transition: 0.3s ease;
}

.bento-grid .btn:hover {
  color: var(--c-white);
  background-color: var(--c-lightblue);
}

.tech-span {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 1400px) {
  .bento-grid {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "intro  tech"
      "time passion ";
  }

  .intro {
    grid-area: intro;
    min-height: 200px;
    min-width: 300px;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-direction: column;
    gap: 0;
  }

  .tech {
    grid-area: tech;
    min-width: 250px;
  }

  .time {
    grid-area: time;
    min-width: 300px;
  }

  .passion {
    grid-area: passion;
    min-width: 250px;
  }

  .card-title {
    font-size: 1.2rem;
    margin-top: 0;
  }

  .card-text {
    line-height: 1.6;
    font-size: 1rem;
  }

  .profile-card {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
  }

  .bento_divider {
    width: 100%;
  }

  .about-text {
    max-width: 100%;
  }
}

@media (max-width: 1020px) {
  .bento-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "intro"
      "tech"
      "time"
      "passion";
  }

  .about-section {
    width: 100%;
  }

  .card-text {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .about-section {
    margin: 4rem auto;
  }

  .skills-group {
    display: none;
  }

  .tech-card-text {
    max-width: 100%;
  }
}

@media (max-width: 490px) {
  .profile-card {
    width: 100%;
  }

  .card {
    padding: 20px;
  }
}
