footer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  margin-bottom: 15px;
  border-radius: 50px;
  background-color: var(--c-primary);
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url("/images/bg02.webp");
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: var(--shadow);
}

.box-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.box-icons a {
  color: var(--c-light_gray);
  font-size: 2rem;
  transition: color 0.5s;
}

.box-icons a:hover {
  color: var(--c-white);
}

.top_btn {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 10px 10px 10px 15px;
  color: var(--c-light_gray);
  background-color: var(--c-mate);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.35)
    ),
    url(/images/bg02.webp);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.35),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.35);
  white-space: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.35);
  transition: all 0.3s ease;
  border-top: none;
  cursor: pointer;
  outline: 0;
  gap: 8px;
  transition: all 0.3s ease;
}

.top_btn:hover {
  color: var(--c-white);
}

.top_span {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 1020px) {
  footer {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .top_span {
    display: none;
  }

  .top_btn {
    padding: 0.46rem 6px 0.37rem 6px;
  }

  .top_btn svg {
    width: 26px;
    height: 26px;
    color: var(--c-secondary);
  }

  footer h3 {
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  footer h3 {
    font-size: 0.8rem;
  }
}
