:root {
  --c-primary: #5384ff1a;
  --c-secondary: #e2f5ad;
  --c-text: #c0c0c0;
  --c-lightblue: #6687e22f;
  --c-white: #fff;
  --c-gray: #ccc;
  --c-light_gray: #d3d3d3;
  --c-line: #333;
  --c-black: #232323;
  --c-mate: #1e1e1e;
  --header-gradient: linear-gradient(
    90deg,
    rgb(27, 32, 38) 0%,
    rgb(24, 26, 31) 11%,
    rgb(19, 19, 20) 41%,
    rgb(19, 19, 20) 58%,
    rgb(24, 26, 31) 85%,
    rgb(28, 33, 39) 100%
  );
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.4s;
  --f-size-b1: 18px;
  --f-size-b2: 22px;
  --f-size-b3: 14px;
  --lh-b1: 1.5;
  --lh-b2: 1.6;
  --lh-b3: 1.7;
  --shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.45),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.15);
  --shadow-2: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: var(--header-gradient);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d2829",endColorstr="#1d2829",GradientType=1);
  color: var(--c-white);
  padding: 0 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    padding: 0 20px;
  }
}

@media (max-width: 380px) {
  body {
    padding: 0 1rem;
  }
}
